body
{
    background-color: rgb(146, 245, 245);
}
.kk
{
    width: 200px;
    margin: auto;
}
div
{

    width: 200px;
    margin: auto;
    margin-top:20px;
    border: 1px solid;
    background-color: aliceblue;
    border-radius: 5px;
}
h2
{
    margin-top: 90px;
    margin-left: 12px;
}
p
{
    margin-left: 12px;
}
a
{
    margin-left: 12px;
}